<nav class="nav-1 yamm standard-drops">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">			
				<a href="index.html" class="home-link">
					<img alt="Machine" class="logo" src="wp-content/themes/machinewp/style/img/logo-square-light.png" />
				</a>
				<ul id="menu-standard-navigation" class="menu">
					<li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-450 has-dropdown">
						<a href="index.html#" data-toggle="dropdown" class="dropdown-toggle js-activated">Home</a>
						<ul role="menu" class=" subnav">
							<li id="menu-item-524" class="menu-item menu-item-type-post_type menu-item-object-mega_menu menu-item-524 dropdown yamm-fw">
								<div class="yamm-content">
									<div class="row">
										<div class="wpb_column vc_column_container col-md-4">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p class="lead">Sample Homepages</p>
														</div>
													</div>
													<div class="vc_wp_custommenu wpb_content_element">
														<div class="widget widget_nav_menu">
															<div class="menu-mega-menu-homepages-container">
																<ul id="menu-mega-menu-homepages" class="menu">
																	<li id="menu-item-517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-517">
																		<a href="home-classic-home/index.html">Classic Home</a>
																	</li>
																	<li id="menu-item-516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-516"><a href="home-agency/index.html">Agency</a></li>
																	<li id="menu-item-518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-518"><a href="home-landing/index.html">Landing</a></li>
																	<li id="menu-item-519" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-519"><a href="home-one-page/index.html">One Page</a></li>
																	<li id="menu-item-520" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-520"><a href="home-personal/index.html">Personal</a></li>
																	<li id="menu-item-521" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-521"><a href="home-rustic/index.html">Rustic</a></li>
																	<li id="menu-item-522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-522"><a href="home-startup/index.html">Startup</a></li>
																	<li id="menu-item-535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-535"><a href="home-photography/index.html">Photography</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="wpb_column vc_column_container col-md-4">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p class="lead">Endless Features</p>
														</div>
													</div>
													<div class="vc_wp_custommenu wpb_content_element">
														<div class="widget widget_nav_menu">
															<div class="menu-mega-menu-features-container">
																<ul id="menu-mega-menu-features" class="menu">
																	<li id="menu-item-527" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-527">
																		<a href="index.html#">Visual Composer</a>
																	</li>
																	<li id="menu-item-528" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-528"><a href="index.html#">Beautifully Responsive</a></li>
																	<li id="menu-item-529" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-529"><a href="index.html#">Fully Featured</a></li>
																	<li id="menu-item-530" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-530"><a href="index.html#">Gorgeous Blogs</a></li>
																	<li id="menu-item-531" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-531"><a href="index.html#">Outstanding Portfolio</a></li>
																	<li id="menu-item-532" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-532"><a href="index.html#">WooCommerce Ready</a></li>
																	<li id="menu-item-533" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-533"><a href="index.html#">Contact Forms</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="wpb_column vc_column_container col-md-4">
											<div class="vc_column-inner ">
												<div class="wpb_wrapper">
													<div class="wpb_text_column wpb_content_element ">
														<div class="wpb_wrapper">
															<p class="lead">Welcome to Machine</p>
															<p>Machine is the distillation of our best design practice, mixed will unmatched technical excellence. You can make <strong>unlimited page layouts</strong> as you need with Visual Composer, which is included for <strong>free</strong> ($28 value) and expect to get your site up and running quickly with our <strong>5* rated support</strong>.</p>
														</div>
													</div>
													<div class="wpb_single_image wpb_content_element vc_align_left">
														<figure class="wpb_wrapper vc_figure">
															<div class="vc_single_image-wrapper   vc_box_border_grey">
																<img class="vc_single_image-img " src="wp-content/uploads/sites/4/2015/02/logo-square-light-75x53.png" width="75" height="53" alt="logo-square-light" title="logo-square-light" />
															</div>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li id="menu-item-451" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-451 has-dropdown">
						<a href="index.html#" data-toggle="dropdown" class="dropdown-toggle js-activated">Pages</a>
						<ul role="menu" class=" subnav">
							<li id="menu-item-452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-452 dropdown-submenu">
								<a href="index.html#">About</a>
								<ul role="menu" class=" subnav">
									<li id="menu-item-484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-484"><a href="pages-about-1/index.html">About 1</a></li>
									<li id="menu-item-486" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-486"><a href="pages-about-2/index.html">About 2</a></li>
									<li id="menu-item-485" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-485"><a href="pages-about-3/index.html">About 3</a></li>
								</ul>
							</li>
							<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-454 dropdown-submenu"><a href="index.html#">Services</a>
								<ul role="menu" class=" subnav">
									<li id="menu-item-489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-489"><a href="pages-services-1/index.html">Services 1</a></li>
									<li id="menu-item-488" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-488"><a href="pages-services-2/index.html">Services 2</a></li>
									<li id="menu-item-487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-487"><a href="pages-services-3/index.html">Services 3</a></li>
								</ul>
							</li>
							<li id="menu-item-455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-455 dropdown-submenu"><a href="index.html#">Coming Soon</a>
								<ul role="menu" class=" subnav">
									<li id="menu-item-491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-491"><a href="pages-coming-soon-1/index.html">Coming Soon 1</a></li>
									<li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-490"><a href="pages-coming-soon-2/index.html">Coming Soon 2</a></li>
								</ul>
							</li>
							<li id="menu-item-453" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-453"><a href="http://machine.tommusdemos.wpengine.com/404">404 Error</a></li>
						</ul>
					</li>
					<li id="menu-item-459" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-459 has-dropdown">
						<a href="index.html#" data-toggle="dropdown" class="dropdown-toggle js-activated">Blog</a>
						<ul role="menu" class=" subnav">
							<li id="menu-item-460" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-460 dropdown-submenu"><a href="index.html#">Blog Layouts</a>
								<ul role="menu" class=" subnav">
									<li id="menu-item-501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-501"><a href="blog-grid-blog/index.html">Grid Blog</a></li>
									<li id="menu-item-504" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-504"><a href="blog-grid-blog-sidebar/index.html">Grid Blog Sidebar</a></li>
									<li id="menu-item-503" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a href="blog-classic-blog/index.html">Classic Blog</a></li>
									<li id="menu-item-502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-502"><a href="blog-classic-blog-sidebar/index.html">Classic Blog Sidebar</a></li>
								</ul>
							</li>
							<li id="menu-item-463" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-463 dropdown-submenu"><a href="index.html#">Articles</a>
								<ul role="menu" class=" subnav">
									<li id="menu-item-505" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-505"><a href="this-is-a-blog-post-without-a-sidebar/index.html">Article No Sidebar</a></li>
									<li id="menu-item-506" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-506"><a href="the-ultimate-guide-on-how-to-build-your-own-website/index.html">Single Article</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li id="menu-item-461" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-461 has-dropdown">
						<a href="index.html#" data-toggle="dropdown" class="dropdown-toggle js-activated">Work</a>
						<ul role="menu" class=" subnav">
							<li id="menu-item-462" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-462 dropdown-submenu"><a href="index.html#">Portfolio Layouts</a>
								<ul role="menu" class=" subnav">
									<li id="menu-item-509" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-509"><a href="work-filter-grid/index.html">Filter Grid</a></li>
									<li id="menu-item-508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-508"><a href="work-large-grid/index.html">Large Grid</a></li>
									<li id="menu-item-507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-507"><a href="work-featured-feed/index.html">Featured Feed</a></li>
								</ul>
							</li>
							<li id="menu-item-464" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-464 dropdown-submenu"><a href="index.html#">Single Work</a>
								<ul role="menu" class=" subnav">
									<li id="menu-item-510" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-510"><a href="portfolio/fit-for-life/index.html">Complex Layout</a></li>
									<li id="menu-item-511" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-511"><a href="portfolio/the-spice-people/index.html">Simple Layout</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li id="menu-item-457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-457 has-dropdown">
						<a href="index.html#" data-toggle="dropdown" class="dropdown-toggle js-activated">Shop</a>
						<ul role="menu" class=" subnav">
							<li id="menu-item-499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-499"><a href="shop/index.html">Simple Shop</a></li>
							<li id="menu-item-495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-495"><a href="shop-complex-shop/index.html">Complex Shop</a></li>
							<li id="menu-item-458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-458 dropdown-submenu"><a href="index.html#">Shop Admin</a>
								<ul role="menu" class=" subnav">
									<li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="my-account/index.html">My Account</a></li>
									<li id="menu-item-497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-497"><a href="basket/index.html">Checkout</a></li>
									<li id="menu-item-498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-498"><a href="basket/index.html">Basket</a></li>
								</ul>
							</li>
							<li id="menu-item-500" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-500"><a href="shop/woo-single-2/index.html">Single Product</a></li>
						</ul>
					</li>
					<li id="menu-item-456" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-456 has-dropdown">
						<a href="index.html#" data-toggle="dropdown" class="dropdown-toggle js-activated">Contact</a>
						<ul role="menu" class=" subnav">
							<li id="menu-item-494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-494"><a href="contact-project-planner/index.html">Project Planner</a></li>
							<li id="menu-item-493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-493"><a href="contact-map-instagram/index.html">Map &#038; Instagram</a></li>
							<li id="menu-item-492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-492"><a href="contact-simple-form/index.html">Simple Form</a></li>
						</ul>
					</li>
				</ul>				
				<ul class="social-links">
					<li class="ebor-cart"><a href="basket/index.html"><i class="icon icon_cart"></i><span class="ebor-count woocommerce">0</span></a></li><li>
				      	<a href="index.html#" target="_blank">
					      	<i class="icon social_facebook"></i>
				      	</a>
				  	</li>
				  	<li>
				      	<a href="index.html#" target="_blank">
					      	<i class="icon social_twitter"></i>
				      	</a>
				  	</li>
			  	</ul>			
				<div class="nav-functions">
					<div class="search-bar">
						<form class="search" method="get" id="searchform" action="http://machine.tommusdemos.wpengine.com/">
							<input type="text" id="s2" name="s" placeholder="" />
							<input type="submit" value="" />
							<i class="pe-7s-search"></i>
						</form>
					</div>
				</div>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->

	<div class="mobile-toggle">
		<div class="bar-1"></div>
		<div class="bar-2"></div>
	</div>	
</nav>